.cards{
  /* margin-top: 0px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
.dailyProduct {
  h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
    span{
      color: var(--primary-color);
    }
  }
}