.postbox-container {
  padding: 20px;
  background-color: var(--body-bg);
  color: white;
}

.postbox-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid orange; */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(72, 71, 71);
}
.postbox-details {
  width: 20%;
}
/* .postbox-item:hover {
    transform: scale(1.05);
} */

.postbox-details h2 {
  color: orange;
  font-size: 1rem;
}
.postbox-details p {
  font-size: .8rem;
  line-height: 16px;
}

@media (max-width: 600px) {
  /* .postbox-details{
        width: 45%;
    } */
  /* .postbox-item {
        width: 90%; 
        margin: 0 auto; 
    } */
  .postbox-details h2 {
      font-size: .7rem;
    }
    .postbox-details p{
        font-size: .5rem;
    }
}
@media (max-width: 311px) {
   .postbox-details h2 {
      font-size: .6rem;
    }
    
}
