.reservation  {
  background-image: url("../../assets/background/reservation.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  /* height: 120vh; */
  padding: 80px 200px 200px 200px;

  background-position: center;
  background-repeat: no-repeat;
  /* margin-top: 50px; */
  form {
    background-color: #7c7c7c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    .contact-us{
        color: var(--primary-color);
        font-size: 2rem;
        text-align: center;
    }
  }
  

  .form-group {
    margin-bottom: 15px;
  }
  .dateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    #date{
      width: 45px;
    }
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    font-size: 20px;
  }

  .form-group input:focus {
    box-shadow: 0 0 5px orange;
    outline: none;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 40px;
  }

  button:hover {
    background-color: #e96e00;
  }
}
@media only screen and (max-width: 1200px) {
  .reservation{
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    form{
      width: 90%;
    }
  }
}