.offer__wrapper {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.offer__content,
.offer__img {
  width: 50%;
}

.offer__img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.offer__content h2{
     font-size: 1.5rem;
  line-height: 40px;
  margin-bottom: 30px;
}

.offer__content h2 span{
  font-size: 2.5rem;
  line-height: 50px;
  margin-bottom: 30px;
}

.offer__content p {
  margin-bottom: 40px;
}
.view__more-btn {
  padding: 10px 35px;
  background: var(--primary-color);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

/* media */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
     .offer__wrapper,
     .offer__content {
    flex-wrap: wrap;
  }
 .offer__content {
    margin-bottom: 40px;
  }
}